.body_carrom{
width: 500px;
height: 500px;
border: 50px solid;
border-color: rgb(228, 85, 50);
border-radius: 30px;
background-clip: padding-box;
background-color: antiquewhite;

}
.inner_fit{
    width: 470px;
    height: 470px;
    border:20px solid rgb(228, 85, 50);
    border-radius: 40px;


}