.flag-outer{
    width: 180px;
    height: 120px;
}
.orange-layer{
    width:180px;
    height: 40px;
    background-color: orangered;
}
.white-layer{
    width:180px;
    height: 40px;
    background-color: rgb(253, 253, 253);
}
.green-layer{
    width:180px;
    height: 40px;
    background-color: rgb(6, 160, 6);
}
.ashok-chakar{
    position: relative;
    left: 70px;
}
.indian{
    width: 40px;
    height: 40px;
}
[class$="japan"]{
    background-color: rgb(234, 237, 240);
}
[class$="albanian"]{
    background-color: red;
}
.albanian1{
    width: 80px;
    height: 80px;
    position: relative;
    left: 50px;
    top: 20px;
}
.red-circle{
    width: 40px;
    height: 40px;
    border-radius: 40px;
    background-color: rgb(194, 3, 3);
    position: relative;
    left: 70px;
    top: 40px;
}
.artingua-toplayer{
    border-top: 50px solid black;
    border-left: 39px solid rgb(196, 16, 16);
    border-right:39px  solid rgb(196, 16, 16);
    width:102px;
    background-color: black;
}
.artingua{
    background-color:rgb(196, 16, 16) ;
}
.artingua-middlelayer{
    border-top: 20px solid rgb(15, 158, 224);
    border-left: 16px solid rgb(196, 16, 16);
    border-right:16px  solid rgb(196, 16, 16);
    width: 71px;
    background-color: black;
    position: relative;
    left: 38.5px;
}
.artingua-bottomlayer{
    border-top: 50px solid #fff;
    border-left: 35px solid rgb(196, 16, 16);
    border-right:35px  solid rgb(196, 16, 16);
    width: 0;
    background-color: black;
    position: relative;
    left: 55px;
}
fill{
    width: 29px;
    height: 20px;
    background-color: rgb(196, 16, 16) ;
}

/* creating the pentagon shape */
.pentagon{
	position: absolute;
	top: 70%;
	left: 50%;
	transform: translate(-50%, -50%);
	height: 0;
	width: 180px;
	border-top: 180px solid rgb(0, 66, 128);
	border-left: 90px solid transparent;
	border-right: 90px solid transparent;
}

.pentagon:after{
	position: absolute;
	content: '';
	border-bottom: 180px solid rgb(0, 66, 128);
	border-left: 180px solid transparent;
	border-right: 180px solid transparent;
	bottom: 180px;
	left: -90px;
}

